.App {
  text-align: center;
}

/* Added spacing for inputs */
.input-container {
  margin: 20px 0;
}

.submit-button {
  margin-top: 20px; 
  margin-bottom: 20px;
  display: flex; 
  justify-content: center; 
}

.table-head-dark {
  background-color: #dddddd; 
  color: #fff; 
}